.content{
    padding: 25px 100px;
}

.number{
    position: relative;
    top: -5px;
    font-size: 18pt;
    color: #5e696d;
}

.headmenu{
    position: relative;
    top: -33px;
    left: 370px;
    width: 500px;
    height: 25px;
    background: linear-gradient(to top, #1c5e7f, #3f8aaf);
    border-radius: 5px;
    box-shadow: 3px 3px #8888;
    padding: 2px 2px 6px 6px;
    white-space: nowrap;
}

.imgProfile{
    position: relative;
    top: 5px;
}

.inp{
    width: 110px;
}

.abtn{
    color:white;
}
.abtn a{
    color:white;
    text-decoration: none;
    font-size: 10.91pt;
}

.password a{    
    color: #bfbfbf;
}

.btns{
    position: relative;
    top: -23px;
    left: 520px;
    width: 75px;
    height: 25px;
    background: white;
    border: 1px solid #ccc!important;
    border-radius: 16px;
}

.home{
    padding: 7px;
}

.map{
    position: relative;
    top: -7px;
}
.pochta{
    position: relative;
    top: -7px;
    left: 4px;
}

.shapka{
    position: relative;
    top: -20px;
}

.navigation{
    position: relative;
    top: -15px;
    height: 32px;
    width: 830px;
    background: linear-gradient(to top, #2e2d2c, #55524e);
    border-radius: 8px;
    padding: 5px 1px 1px 150px;
    font-size: 13.64pt;
}

.this{
    background: linear-gradient(to top, #064585, #317cc7);
    border-radius: 15px;
    border: none;
    height: 30px;
    color: white;
}

.other{
    background: none;
    border: none;
    color: #99cccc;
}

.disk{
    height: 130px;
    width: 430px;
    background: rgb(255, 255, 255);
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    padding: 1px 1px 1px 20px;
}

.tov_text{
    color: #999999;
}

.price_text{
    color: #006699;
}

.ttext{
    margin-left: 85px;
}

.dh4{
    position: relative;
    top: -20px;
    left: 125px;
    color: #003366;
}